<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable + Sortable</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="app">
    <input type="text" v-model="name">
    <button @click="submit()" >Submit</button>
    <div class="split">
    
         <ul>
            <li class="draggable" v-for="(draggable,index) in drag" class="ui-state-highlight">{{draggable}}</li>
            
          </ul>
           
          <ul id="sortable">
            <li class="ui-state-default item" v-for = "(item,index) in items"><p>{{item}}</p> <button  @click="updateText(index)">Edit</button></li>
          </ul>
          <div class="">
            {{items}}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./scripts.js"></script>
</body>
</html>